.RoutineBox{
    width: 100%;
    height: 100%;
    padding: 15px 5px 15px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.routineBox{
    margin: 6px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    border: 2px solid #264056;
    border-radius: 10px;
}
.routineBox:hover{
    margin: 6px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    border: 2px solid #E3F5FE;
    border-radius: 10px;
}
.routineBox_top, .routineBox_left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.routineBox_left > img{
    width: 13px;
}
.routineBox_plus > img{
    width: 20px;
}

.routineBox_title{
    font-size: 22px;
    color: #E3F5FE;
    font-weight: 600;
    margin-right: 10px;
}
.routineBox_right{
    color: #2E61D7;
    font-size: 16px;
}
.routineBox_bottom{
    color: #66B3F9;
    font-size: 14px;
}

.routineBox_plus{
    margin: 6px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #264056;
    background-color: #264056;
    border-radius: 10px;
}
.routineBox_plus:hover{
    margin: 6px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #E3F5FE;
    background-color: #264056;
    border-radius: 10px;
}

@media only screen and (min-width: 1200px){
    .RoutineBox{
        width: 100%;
        height: 100%;
        padding: 15px 5px 15px 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .routineBox{
        margin: 6px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 20px;
        border: 2px solid #264056;
        border-radius: 10px;
    }
    .routineBox:hover{
        margin: 6px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 20px;
        border: 2px solid #E3F5FE;
        border-radius: 10px;
    }
    .routineBox_top, .routineBox_left{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .routineBox_left > img{
        width: 13px;
    }
    .routineBox_plus > img{
        width: 20px;
    }

    .routineBox_title{
        font-size: 20px;
        color: #E3F5FE;
        font-weight: 600;
        margin-right: 10px;
    }
    .routineBox_right{
        color: #2E61D7;
        font-size: 14px;
    }
    .routineBox_bottom{
        color: #66B3F9;
        font-size: 14px;
    }

    .routineBox_plus{
        margin: 6px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        border: 2px solid #264056;
        background-color: #264056;
        border-radius: 10px;
    }
    .routineBox_plus:hover{
        margin: 6px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        border: 2px solid #E3F5FE;
        background-color: #264056;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1199px){
    .routineBox{
        margin: 6px;
        height: 100px;
        padding: 10px 20px;
    }
    .routineBox:hover{
        margin: 6px;
        height: 100px;
        padding: 10px 20px;
    }
    .routineBox_left > img{
        width: 13px;
    }
    .routineBox_plus > img{
        width: 20px;
    }

    .routineBox_title{
        font-size: 18px;
        margin-right: 10px;
    }
    .routineBox_bottom{
        font-size: 14px;
    }

    .routineBox_plus{
        margin: 6px;
        height: 100px;
        padding: 10px 20px;
    }
    .routineBox_plus:hover{
        margin: 6px;
        height: 100px;
        padding: 10px 20px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px){
    .RoutineBox{
        width: 100%;
        height: 100%;
        padding: 15px 5px 15px 5px;
        grid-template-columns: 1fr;
    }
    
    .routineBox{
        margin: 6px;
        height: 100px;
        padding: 10px 20px;
    }
    .routineBox:hover{
        margin: 6px;
        height: 100px;
        padding: 10px 20px;
    }
    .routineBox_left > img{
        width: 13px;
    }
    .routineBox_plus > img{
        width: 20px;
    }
    
    .routineBox_title{
        font-size: 18px;
        margin-right: 10px;
    }
    .routineBox_right{
        font-size: 16px;
    }
    .routineBox_bottom{
        font-size: 14px;
    }
    
    .routineBox_plus{
        margin: 6px;
        height: 100px;
        padding: 10px 20px;
    }
    .routineBox_plus:hover{
        margin: 6px;
        height: 100px;
        padding: 10px 20px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 599px){
    .RoutineBox{
        width: 100%;
        height: 100%;
        padding: 15px 5px 15px 5px;
        grid-template-columns: 1fr;
    }
    
    .routineBox{
        margin: 6px;
        height: 100px;
        padding: 10px 20px;
    }
    .routineBox:hover{
        margin: 6px;
        height: 100px;
        padding: 10px 20px;
    }
    .routineBox_left > img{
        width: 13px;
    }
    .routineBox_plus > img{
        width: 20px;
    }
    
    .routineBox_title{
        font-size: 18px;
        margin-right: 10px;
    }
    .routineBox_right{
        font-size: 12px;
    }
    .routineBox_bottom{
        font-size: 10px;
    }
    .routineBox_plus{
        margin: 6px;
        height: 100px;
        padding: 10px 20px;
    }
    .routineBox_plus:hover{
        margin: 6px;
        height: 100px;
        padding: 10px 20px;
    }
}
@media only screen and (min-width: 300px) and (max-width: 449px){
    .RoutineBox{
        width: 100%;
        height: 100%;
        padding: 15px 5px 15px 5px;
        grid-template-columns: 1fr;
    }
    .routineBox{
        margin: 6px;
        height: 80px;
        padding: 10px 20px;
    }
    .routineBox:hover{
        margin: 6px;
        height: 80px;
        padding: 10px 20px;
    }
    .routineBox_left > img{
        width: 13px;
    }
    .routineBox_plus > img{
        width: 20px;
    }
    
    .routineBox_title{
        font-size: 16px;
        font-weight: 600;
        margin-right: 10px;
    }
    .routineBox_right{
        font-size: 10px;
    }
    .routineBox_bottom{
        font-size: 8px;
    }
    .routineBox_plus{
        margin: 6px;
        height: 80px;
        padding: 10px 20px;
    }
    .routineBox_plus:hover{
        margin: 6px;
        height: 80px;
        padding: 10px 20px;
    }
}
@media only screen and (min-width: 270px) and (max-width: 299px){
    .RoutineBox{
        width: 100%;
        height: 100%;
        padding: 15px 5px 15px 5px;
        grid-template-columns: 1fr;
    }
    
    .routineBox{
        margin: 5px;
        height: 70px;
        padding: 10px 20px;
    }
    .routineBox:hover{
        margin: 5px;
        height: 70px;
        padding: 10px 20px;
    }
    .routineBox_left > img{
        width: 13px;
    }
    .routineBox_plus > img{
        width: 20px;
    }
    .routineBox_title{
        font-size: 14px;
        font-weight: 600;
        margin-right: 10px;
    }
    .routineBox_right{
        font-size: 8px;
    }
    .routineBox_bottom{
        font-size: 6px;
    }

    .routineBox_plus{
        margin: 5px;
        height: 70px;
        padding: 10px 20px;
    }
    .routineBox_plus:hover{
        margin: 5px;
        height: 70px;
        padding: 10px 20px;
    }
}


