.SearchUser_top_box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.SearchUser_top_searchBox{
    border: 1px solid #878787;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
}
.SearchUser_top_searchBox > input{
    background-color: transparent;
    outline: none;
    border: none;
    color: rgb(186, 186, 186);
}
.SearchUser_top_search_dropdown{
    position: absolute;
    border-radius: 3px;
    background-color: #10273B;
    z-index: 2;
    color : white;
}
.SearchUser_userList{
    display : flex;
    border-bottom: 2px solid #264056;
}
.SearchUser_userImg{
    display : block;
    width : 100%;
    border-radius: 15px;
    border : none;
}

@media only screen and (min-width: 1200px){
    .SearchUser_top_searchBox{
        margin-top : 20px;
        margin-right: 20px;
        padding: 3px 15px;
        height: 35px;
        width : 260px;
    }
    .SearchUser_top_searchBox > input{
        width: 200px;
        margin-right: 10px;
        font-size: 15px;
    }
    .SearchUser_top_searchBox > img{
        height: 15px;
    }
    .SearchUser_top_search_dropdown{
        width: 248px;
        top: 61px;
        margin-left: 5px;
        max-height: 160px;
        overflow-y: auto;
    }
    .SearchUser_userList{
        height : 40px;
    }
    .SearchUser_userImgContainer{
        width : 25px;
        height : 25px;
        margin : auto 10px;
    }
    .SearchUser_userImg{
        height : 25px;
    }
    .SearchUser_userName{
        margin : auto 10px;
        margin-left : 5px;
        font-size: 17px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1200px){
    .SearchUser_top_searchBox{
        margin-top : 20px;
        margin-right: 20px;
        padding: 3px 15px;
        height: 35px;
        width : 250px;
    }
    .SearchUser_top_searchBox > input{
        width: 200px;
        margin-right: 10px;
        font-size: 15px;
    }
    .SearchUser_top_searchBox > img{
        height: 15px;
    }
    .SearchUser_top_search_dropdown{
        width: 240px;
        top: 61px;
        margin-left: 5px;
        max-height: 140px;
        overflow-y: auto;
    }
    .SearchUser_userList{
        height : 35px;
    }
    .SearchUser_userImgContainer{
        width : 25px;
        height : 25px;
        margin : auto 10px;
    }
    .SearchUser_userImg{
        height : 25px;
    }
    .SearchUser_userName{
        margin : auto 10px;
        margin-left : 5px;
        font-size: 17px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 900px){
    .SearchUser_top_searchBox{
        margin-top : 20px;
        margin-right: 20px;
        padding: 3px 15px;
        height: 33px;
        width : 240px;
    }
    .SearchUser_top_searchBox > input{
        width: 200px;
        margin-right: 10px;
        font-size: 13px;
    }
    .SearchUser_top_searchBox > img{
        height: 15px;
    }
    .SearchUser_top_search_dropdown{
        width: 230px;
        top: 59px;
        margin-left: 5px;
        max-height: 132px;
        overflow-y: auto;
    }
    .SearchUser_userList{
        height : 33px;
    }
    .SearchUser_userImgContainer{
        width : 24px;
        height : 24px;
        margin : auto 10px;
    }
    .SearchUser_userImg{
        height : 24px;
    }
    .SearchUser_userName{
        margin : auto 10px;
        margin-left : 5px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 600px){
    .SearchUser_top_searchBox{
        margin-top : 20px;
        margin-right: 15px;
        padding: 3px 15px;
        height: 30px;
        width : 210px;
    }
    .SearchUser_top_searchBox > input{
        width: 155px;
        margin-right: 10px;
        font-size: 13px;
    }
    .SearchUser_top_searchBox > img{
        height: 15px;
    }
    .SearchUser_top_search_dropdown{
        width: 200px;
        top: 58px;
        margin-left: 5px;
        max-height: 124px;
        overflow-y: auto;
    }
    .SearchUser_userList{
        height : 31px;
    }
    .SearchUser_userImgContainer{
        width : 22px;
        height : 22px;
        margin : auto 10px;
    }
    .SearchUser_userImg{
        height : 22px;
    }
    .SearchUser_userName{
        margin : auto 10px;
        margin-left : 5px;
        font-size: 15px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 450px){
    .SearchUser_top_searchBox{
        margin-top : 20px;
        margin-right: 15px;
        padding: 3px 15px;
        height: 25px;
        width : 160px;
    }
    .SearchUser_top_searchBox > input{
        width: 115px;
        margin-right: 2px;
        font-size: 12px;
    }
    .SearchUser_top_searchBox > img{
        height: 12px;
    }
    .SearchUser_top_search_dropdown{
        width: 150px;
        top: 55px;
        margin-left: 5px;
        max-height: 120px;
        overflow-y: auto;
    }
    .SearchUser_userList{
        height : 30px;
    }
    .SearchUser_userImgContainer{
        width : 20px;
        height : 20px;
        margin : auto 10px;
    }
    .SearchUser_userImg{
        height : 20px;
    }
    .SearchUser_userName{
        margin : auto 10px;
        margin-left : 5px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 270px) and (max-width: 300px){
    .SearchUser_top_searchBox{
        margin-top : 20px;
        margin-right: 10px;
        padding: 3px 15px;
        height: 25px;
        width : 150px;
    }
    .SearchUser_top_searchBox > input{
        width: 110px;
        margin-right: 0px;
        font-size: 12px;
    }
    .SearchUser_top_searchBox > img{
        height: 12px;
    }
    .SearchUser_top_search_dropdown{
        width: 140px;
        top: 55px;
        margin-left: 5px;
        max-height: 120px;
        overflow-y: auto;
    }
    .SearchUser_userList{
        height : 30px;
    }
    .SearchUser_userImgContainer{
        width : 20px;
        height : 20px;
        margin : auto 10px;
    }
    .SearchUser_userImg{
        height : 20px;
    }
    .SearchUser_userName{
        margin : auto 10px;
        margin-left : 5px;
        font-size: 14px;
    }
}