.SelectRoutineBox{
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.select_routine_box{
    width: 100%;
    border: 1.5px solid rgb(181, 181, 181);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select_routine_name{
    font-weight: 700;
    color: rgb(159, 159, 159);
} 
.select_routine_count{
    color: rgb(159, 159, 159);
    font-weight: 600;
}

.select_routine_box:hover{
    border: 2px solid #2E61D7;
}
.select_routine_box:hover .select_routine_name{
    color: rgb(67, 67, 67);
}
.select_routine_box:hover .select_routine_count{
    color: rgb(87, 87, 87);
}

.select_clicked_routine_box{
    width: 100%;
    border: 2px solid #2E61D7;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select_clicked_routine_name{
    font-weight: 700;
    color: rgb(67, 67, 67);
}
.select_clicked_routine_count{
    color: rgb(87, 87, 87);
    font-weight: 600;
}

@media only screen and (min-width: 600px){
    .SelectRoutineBox{
        max-height: 200px;
    }
    .select_routine_box{
        margin: 5px 0;
        padding: 5px 20px;
        min-height: 60px;
    }
    .select_routine_name{
        font-size: 15px;
    } 
    .select_routine_count{
        font-size: 12px;
    }
    .select_clicked_routine_box{
        margin: 5px 0;
        padding: 5px 20px;
        min-height: 60px;
    }
    .select_clicked_routine_name{
        font-size: 15px;
    }
    .select_clicked_routine_count{
        font-size: 12px;
    }
}
@media only screen and (min-width: 450px) and (max-width: 599px){
    .SelectRoutineBox{
        max-height: 150px;
    }
    .select_routine_box{
        margin: 3px 0;
        padding: 3px 18px;
        min-height: 50px;
    }
    .select_routine_name{
        font-size: 13px;
    } 
    .select_routine_count{
        font-size: 10px;
    }
    .select_clicked_routine_box{
        margin: 3px 0;
        padding: 3px 18px;
        min-height: 50px;
    }
    .select_clicked_routine_name{
        font-size: 14px;
    }
    .select_clicked_routine_count{
        font-size: 12px;
    }
}
@media only screen and (min-width: 300px) and (max-width: 449px){
    .SelectRoutineBox{
        max-height: 120px;
    }
    .select_routine_box{
        margin: 3px 0;
        padding: 2px 13px;
        min-height: 30px;
    }
    .select_routine_name{
        font-size: 12px;
    } 
    .select_routine_count{
        font-size: 10px;
    }
    .select_clicked_routine_box{
        margin: 2px 0;
        padding: 2px 15px;
        min-height: 30px;
    }
    .select_clicked_routine_name{
        font-size: 12px;
    }
    .select_clicked_routine_count{
        font-size: 10px;
    }
}
@media only screen and (min-width: 270px) and (max-width: 299px){
    .SelectRoutineBox{
        max-height: 100px;
    }
    .select_routine_box{
        margin: 2px 0;
        padding: 1px 10px;
        min-height: 25px;
    }
    .select_routine_name{
        font-size: 11px;
    } 
    .select_routine_count{
        font-size: 10px;
    }
    .select_clicked_routine_box{
        margin: 1px 0;
        padding: 1px 10px;
        min-height: 25px;
    }
    .select_clicked_routine_name{
        font-size: 11px;
    }
    .select_clicked_routine_count{
        font-size: 10px;
    }
}