.SettingsPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.settingspage_header{
    width: 100%;
}
.settingspage_content{
    width: 100%;
    flex-grow: 1;
    display: flex;
    border-top: 3px solid #E3F5FE;
}
.settingspage_SettingsSession{
    flex-grow: 1;
    height: 100%;
    background-color: #061726;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 1200px){
    .settingspage_header{
        min-height: 150px;
    }
    .settingspage_content{
        flex-direction: row;
    }
    .settingspage_profile{
        width: 300px;
        height: 100%;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1199px){
    .settingspage_header{
        min-height: 140px;
    }
    .settingspage_content{
        flex-direction: row;
    }
    .settingspage_profile{
        width: 250px;
        height: 100%;
    }
}
@media only screen and (min-width: 600px) and (max-width: 899px){
    .settingspage_header{
        min-height: 110px;
    }
    .settingspage_content{
        flex-direction: column;
    }
    .settingspage_profile{
        width: 100%;
        height: 135px;
    }
}
@media only screen and (min-width: 450px) and (max-width: 599px){
    .settingspage_header{
        min-height: 100px;
    }
    .settingspage_content{
        flex-direction: column;
    }
    .settingspage_profile{
        width: 100%;
        height: 115px;
    }
}
@media only screen and (min-width: 300px) and (max-width: 449px){
    .settingspage_header{
        min-height: 80px;
    }
    .settingspage_content{
        flex-direction: column;
    }
    .settingspage_profile{
        width: 100%;
        height: 90px;
    }
}
@media only screen and (min-width: 270px) and (max-width: 299px){
    .settingspage_header{
        min-height: 50px;
    }
    .settingspage_content{
        flex-direction: column;
    }
    .settingspage_profile{
        width: 100%;
        height: 60px;
    }
}


