.SignupPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 500px;
}
.signup_header{
    height: 10%;
}
.signup_form{
    height : 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup_bottom{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 25%;
    color : #E3F5FE;
    font-weight: 400;
}

@media only screen and (min-width: 900px){
    .signup_bottom{
        font-size: 23px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px){
    .signup_bottom{
        font-size: 22px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 600px){
    .signup_bottom{
        font-size: 21px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 450px){
    .signup_bottom{
        font-size: 20x;
    }
}

@media only screen and (min-width: 270px) and (max-width: 300px){
    .signup_bottom{
        font-size: 17px;
    }   
}