.ReadMeElement{
    width: 100%;
}

.readme_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 3px solid #264056;
}
.readme_header_title{
    color: #66B3F9;
    font-weight: bold;
    font-size: 20px;
}

.readme_header > img{
    height: 25px;
}

.ReadmeText{
    width: 100%;
    max-height: 250px;
    padding: 8px 5px;
}

.update_buttongroup{
    display: flex;
    flex-direction: row;
    color: #E3F5FE;
    font-size: 18px;
    font-weight: 500;
    width: fit-content;
    justify-content: space-between;
}
.update_buttongroup > div{
    padding: 5px 10px;
}
.update_buttongroup > div:hover{
    background-color: #264056;
    padding: 5px 10px;
    border-radius: 5px;
}

@media only screen and (min-width: 300px) and (max-width: 449px){
    .ReadMeElement{
        padding: 0 5% 0 5%;
    }
    .readme_header_title{
        font-size: 16px;
    }
    .readme_header > img{
        height: 18px;
    }

    .update_buttongroup{
        font-size: 13px;
    }

    .notnoneText > div{
        font-size: 13px;
    }
}

@media only screen and (min-width: 270px) and (max-width: 299px) {
    .ReadMeElement{
        padding: 0 5% 0 5%;
    }
    .readme_header_title{
        font-size: 14px;
    }
    .readme_header > img{
        height: 15px;
    }

    .update_buttongroup{
        font-size: 11px;
    }

    .notnoneText > div{
        font-size: 11px;
    }
}