.securityform_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 3px solid #264056;
}
.securityform_title > div{
    color: #66B3F9;
    font-weight: bold;
    font-size: 25px;
}
.securityform_button{
    float: right;
    margin : 20px 20px 0 0;
    border-radius: 7px;
    overflow: hidden;
}
.private_button_clicked, .public_button_clicked{
    height: 40px;
    width: 90px;
    border: none;
    background-color: #2E61D7;
    font-size: 14px;
    color: #E3F5FE;
}
.public_button, .private_button{
    height: 40px;
    width: 90px;
    border-color: #E3F5FE;
    background-color: #061726;
    font-size: 14px;
    color: #E3F5FE;
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    .securityform_title > div{
        font-size: 22px;
    }
    .private_button_clicked, .public_button_clicked{
        height: 35px;
        width: 80px;
        font-size: 13px;
    }
    .public_button, .private_button{
        height: 35px;
        width: 80px;
        font-size: 13px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 599px) {
    .securityform_title > div{
        font-size: 18px;
    }
    .private_button_clicked, .public_button_clicked{
        height: 30px;
        width: 70px;
        font-size: 12px;
    }
    .public_button, .private_button{
        height: 30px;
        width: 70px;
        font-size: 12px;
        align-items: center;
    }
}

@media only screen and (min-width: 300px) and (max-width: 449px) {
    .securityform_title > div{
        font-size: 16px;
    }
    .private_button_clicked, .public_button_clicked{
        height: 30px;
        width: 60px;
        font-size: 11px;
    }
    .public_button, .private_button{
        height: 30px;
        width: 60px;
        font-size: 11px;
    }
}

@media only screen and (min-width: 270px) and (max-width: 299px) {
    .securityform_title > div{
        font-size: 14px;
    }
    .private_button_clicked, .public_button_clicked{
        height: 30px;
        width: 50px;
        font-size: 10px;
    }
    .public_button, .private_button{
        height: 30px;
        width: 50px;
        font-size: 10px;
    }
}