.securityform_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 3px solid #264056;
}
.securityform_title > div{
    color: #66B3F9;
    font-weight: bold;
    font-size: 25px;
}
.securityform_button{
    float: right;
    margin : 20px 20px 0 0;
    border-radius: 7px;
    overflow: hidden;
}
.private_button_clicked, .public_button_clicked{
    height: 40px;
    width: 90px;
    border: none;
    background-color: #2E61D7;
    font-size: 14px;
    color: #E3F5FE;
}
.public_button, .private_button{
    height: 40px;
    width: 90px;
    border-color: #E3F5FE;
    background-color: #061726;
    font-size: 14px;
    color: #E3F5FE;
}