.SignupForm{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color : #E3F5FE;
}
.signupForm_nickname{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E3F5FE;
    margin : auto;
}
.signupForm_nickname> div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signupForm_nickname > input{
    border : none;
    background: transparent;
    color : #E3F5FE;
}
.signupForm_nickname > input:focus{
    outline:none;
}
.signupForm_email{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E3F5FE;
    margin : auto;
}
.signupForm_email > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupForm_email > input{
    border: none;
    background: transparent;
    flex-grow: 1;
    color : #E3F5FE;
}
.signupForm_email > input:focus{
    outline:none;
}
.singupForm_password{
    border: none;
    background: transparent;
    border-bottom: 1px solid #E3F5FE;
    color : #E3F5FE;
    margin : auto;
}
.singupForm_password:focus{
    outline:none;
}
.signupForm_doubleCheck{
    border: none;
    background: transparent;
    border-bottom: 1px solid #E3F5FE;
    color : #E3F5FE;
    margin : auto;
}
.signupForm_doubleCheck:focus{
    outline:none;
}
.signupForm_signup{
    color : #66B3F9;
}
.signupForm_passwordAlert{
    color :#FF9900;
}
.signupForm_passwordAlertBox{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

@media only screen and (min-width: 900px){
    .signupForm_nickname{
        margin-bottom: 8px;
        width : 300px;
    }
    .signupForm_nickname> div{
        font-size: 18px;
    }
    .signupForm_nickname > input{
        padding : 5px;
        font-size: 18px;
    }
    .signupForm_email{
        margin-bottom: 8px;
        width : 300px;
    }
    .signupForm_email > div{
        font-size: 18px;
    }
    .signupForm_email > input{
        padding : 5px;
        font-size: 18px;
    }
    .singupForm_password{
        padding : 5px;
        padding-bottom: 8px;
        font-size: 18px;
        width: 300px;
    }
    .signupForm_doubleCheck{
        padding : 5px;
        padding-bottom: 8px;
        font-size: 18px;
        width: 300px;
    }
    .signupForm_signup{
        margin : 20px auto;
        font-size : 23px;
        margin-top: 30px;
    }
    .signupForm_passwordAlertBox{
        padding: 5px 0 0 5px;
    }
    .signupForm_passwordAlert{
        font-size: 13px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 900px){
    .signupForm_nickname{
        margin-bottom: 5px;
        width : 280px;
    }
    .signupForm_nickname> div{
        font-size: 16px;
    }
    .signupForm_nickname > input{
        padding : 3px;
        font-size: 16px;
    }
    .signupForm_email{
        margin-bottom: 5px;
        width : 280px;
    }
    .signupForm_email > div{
        font-size: 16px;
    }
    .signupForm_email > input{
        padding : 3px;
        font-size: 16px;
    }
    .singupForm_password{
        padding : 3px;
        padding-bottom: 5px;
        font-size: 16px;
        width: 280px;
    }
    .signupForm_doubleCheck{
        padding : 3px;
        padding-bottom: 5px;
        font-size: 16px;
        width: 280px;
    }
    .signupForm_signup{
        margin : 15px auto;
        font-size : 22px;
        margin-top: 25px;
    }
    .signupForm_passwordAlertBox{
        padding: 3px 0 0 3px;
    }
    .signupForm_passwordAlert{
        font-size: 12px;
    }
}
@media only screen and (min-width: 450px) and (max-width: 600px){
    .signupForm_nickname{
        margin-bottom: 5px;
        width : 230px;
    }
    .signupForm_nickname> div{
        font-size: 14px;
    }
    .signupForm_nickname > input{
        padding : 3px;
        font-size: 14px;
    }
    .signupForm_email{
        margin-bottom: 5px;
        width : 230px;
    }
    .signupForm_email > div{
        font-size: 14px;
    }
    .signupForm_email > input{
        padding : 3px;
        font-size: 14px;
    }
    .singupForm_password{
        padding : 3px;
        padding-bottom: 3px;
        font-size: 14px;
        width: 230px;
        margin-bottom: 5px;
    }
    .signupForm_doubleCheck{
        padding : 3px;
        padding-bottom: 3px;
        font-size: 14px;
        width: 230px;
    }
    .signupForm_signup{
        margin : 12px auto;
        font-size : 21px;
        margin-top: 22px;
    }
    .signupForm_passwordAlertBox{
        padding: 2px 0 0 2px;
    }
    .signupForm_passwordAlert{
        font-size: 11px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 450px){
    .signupForm_nickname{
        margin-bottom: 5px;
        width : 200px;
    }
    .signupForm_nickname> div{
        font-size: 14px;
    }
    .signupForm_nickname > input{
        padding : 3px;
        font-size: 14px;
    }
    .signupForm_email{
        margin-bottom: 5px;
        width : 200px;
    }
    .signupForm_email > div{
        font-size: 14px;
    }
    .signupForm_email > input{
        padding : 3px;
        font-size: 14px;
    }
    .singupForm_password{
        padding : 3px;
        padding-bottom: 3px;
        font-size: 14px;
        width: 200px;
        margin-bottom: 5px;
    }
    .signupForm_doubleCheck{
        padding : 3px;
        padding-bottom: 3px;
        font-size: 14px;
        width: 200px;
    }
    .signupForm_signup{
        margin : 12px auto;
        font-size : 17px;
        margin-top: 22px;
    }
    .signupForm_passwordAlertBox{
        padding: 2px 0 0 2px;
    }
    .signupForm_passwordAlert{
        font-size: 9px;
    }
}

@media only screen and (min-width: 270px) and (max-width: 300px){
    .signupForm_nickname{
        margin-bottom: 5px;
        width : 190px;
    }
    .signupForm_nickname> div{
        font-size: 14px;
    }
    .signupForm_nickname > input{
        padding : 3px;
        font-size: 14px;
        width: 150px;
    }
    .signupForm_email{
        margin-bottom: 5px;
        width : 190px;
    }
    .signupForm_email > div{
        font-size: 14px;
    }
    .signupForm_email > input{
        padding : 3px;
        font-size: 14px;
        width: 150px;
    }
    .singupForm_password{
        padding : 3px;
        padding-bottom: 3px;
        font-size: 14px;
        width: 190px;
        margin-bottom: 5px;
    }
    .signupForm_doubleCheck{
        padding : 3px;
        padding-bottom: 3px;
        font-size: 14px;
        width: 190px;
    }
    .signupForm_signup{
        margin : 12px auto;
        font-size : 17px;
        margin-top: 22px;
    }
    .signupForm_passwordAlertBox{
        padding: 2px 0 0 2px;
    }
    .signupForm_passwordAlert{
        font-size: 7px;
    }
}